/* line 3, ../sass/site.scss */
body {
  padding-top: 40px;
}

/* line 6, ../sass/site.scss */
.page-icons {
  margin-top: 15px;
  text-align: center;
}
/* line 9, ../sass/site.scss */
.page-icons button {
  font-size: 28px;
  margin: 5px;
  width: 58px;
  padding: 8px 13px;
}

/* line 16, ../sass/site.scss */
footer {
  background-color: #22313f;
  color: #587fa3;
  padding: 10px;
  margin-top: 15px;
}
/* line 21, ../sass/site.scss */
footer .copy {
  float: right;
}

/* line 25, ../sass/site.scss */
.nav-buttons {
  margin-top: 30px;
}
/* line 27, ../sass/site.scss */
.nav-buttons button {
  visibility: hidden;
}
/* line 30, ../sass/site.scss */
.nav-buttons:hover button {
  visibility: visible;
}
